<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="<%= selectedArticle.title %>" >
    <meta name="og:image" content="https://image.tmdb.org/t/p/w500<%= selectedArticle.poster_path %>" >
    <meta name="og:url" content="www.test.com" >
    <link rel="canonical" href="https://www.test.com">
    <meta name="description" content="<%= selectedArticle.overview %>" >
    <link href="/article.css" rel="stylesheet" type="text/css">
    <title>
        <% if(selectedArticle.title) {  %>
            <%= selectedArticle.title %>
        <% } %>
        <% if(selectedArticle.name) {  %>
            <%= selectedArticle.name %>
        <% } %>
    </title>
</head>
<body>
    <a href="/" class="backLink">BACK</a>

    <div class="singleArticleContainer">
        <img src="https://image.tmdb.org/t/p/w500<%= selectedArticle.poster_path %>" alt="poster" class="articlePoster" />
        <div class="titleOverviewArticle">

            <% if(selectedArticle.media_type === "movie") { %>
                    <h1 class="articleTitle"><%= selectedArticle.title %></h1>
            <% } %>
                
            <% if(selectedArticle.media_type === "tv") { %>
                <h1 class="articleTitle"><%= selectedArticle.name %></h1>
            <% } %>
                
            <p class="articleOverview"><%= selectedArticle.overview %></p>

            <p class="rating">Rating: <%= selectedArticle.vote_average.toFixed(1) %></p>
        </div>
    </div>
</body>
</html>